:root {
  --secondary: #92bde9;
  --ligth: beige;
  --primary:#256fb9;
}
html {
  box-sizing: border-box;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h2{
  color: var(--primary);
}
  body{
    text-align: center;
    height: 100%;
    width:96% ;
    margin:2%;
    background-color: white;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterDivs{
    display: block;
    width: 10%;
    margin: auto;
  }
  .filterDivs p{
    margin-bottom: 3px;
  }
  #filters{
    display: flex;
    justify-content: space-around ;
    padding:5px;
    overflow: hidden;
    width: 98%;
    border:1px var(--primary) solid;
    border-radius: 8px;
    margin: 0% 1% 0% 1%; 
    background-color: var(--secondary);
    color: var(--primary);
  }
  #pagesdiv{
    display:flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
  }

  #pagesize{
    width:35%;
    height:20% ;
  }
  #transactions{
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
  }
  #pageNav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  table, th, td {
    border: 1px solid var(--primary);
    padding: 5px;
    border-collapse: collapse;
    color: var(--primary);
  }
  table{
    border-radius: 15px;
    box-shadow: 2px 2px var(--primary);
    background-color: var(--secondary);
  }
  #lower,#upper{
    width: 100%;
  }
  select,input{
      width: 100%;
      border: 1px solid var(--ligth);
      border-radius: 5px;
      box-shadow: 2px 2px var(--primary);
      background-color: var(--secondary);
  }
  