.landing-page{
    background-color: #21D4FD;
    background-image: url('./assets/banking-capital--markets-1050x650.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover; 
    color:white;
}